.App {
  text-align: center;
  background: floralwhite;
  /* opacity: 0.5; */
  /* width: 50%; */
  margin: 0 30%;

}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
