.character {
    color:rgb(51, 49, 49);
    padding: 10px 2%;
    font-weight: bolder;
    list-style-type: circle;
}

.characterContainer {
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
    background: floralwhite;
    box-shadow: 10px 10px 5px grey;

}

.attr {
    padding: 5px;
}
.attr:last-child {
    margin-bottom: 10px;
}